<% include ./partials/header %>

    <h1>More Information on <%= cat.name %></h1>

    <a href='/index/<%= cat._id %>/edit'>Make Changes</a>

    <div>
      <div class='show'>
        <label>Name</label><br>
        <span><%= cat.name %></span>
      </div>
      <div class='show'>
        <label>Age</label><br>
        <span><%= cat.age %></span>
      </div>
      <div class='show'>
        <label>Breed</label><br>
        <span><%= cat.breed %></span>
      </div>
      <div class='show'>
        <label>Description</label><br>
        <span><%- cat.description %></span>
      </div>
      <div>
        <form action='/index/<%= cat._id %>?_method=DELETE' method='POST'>
          <button>DELETE</button>
        </form>
      </div>
    </div>

<% include ./partials/footer %>
