<% include ./partials/header %>

    <h1>More Information on <%= cat.name %></h1>

    <a href='/index/<%= cat._id %>/edit'>Make Changes</a>

    <div>
      <div class='show'>
        <label>Name</label><br>
        <%= cat.name %>
      </div>
      <div class='show'>
        <label>Age</label><br>
        <%= cat.age %>
      </div>
      <div class='show'>
        <label>Breed</label><br>
        <%= cat.breed %>
      </div>
      <div class='show'>
        <label>Description</label><br>
        <%- cat.description %>
      </div>
      <div>
        <form action='/index/<%= cat._id %>?_method=DELETE' method='POST'>
          <button>DELETE</button>
        </form>
      </div>
    </div>

<% include ./partials/footer %>
